<style>
    label {
        color: white;
    }
</style>
<div class="row col-equal-height mb-4">
    <div class="col-md-4">
        <div class="card tile">
            <div class="card-body text-center">
                <h4>Expense Over Time (Year) </h4>
                <canvas id="expenseLineChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card tile" style="">
            <div class="card-body text-center">
                <h4 id="donutHead">Active Expense Contribution (Total)</h4>
                <canvas style="margin-top: 10px" id="expenseDonutChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card tile" style="">
            <div class="card-body text-center">
                <h4>Total Current Monthly Expense</h4>
                <p>This is the summation of all expenses from your group, that are active this month.</p>
                <h1 class="pt-2">£{{data.expense_current_month}}</h1>
                <p class="pt-3">This is {{data.change}}</p>
            </div>
        </div>
    </div>
</div>
<div class="row col-equal-height mb-3">
    <div class="col-md-12">
        <div class="card tile" style="">
            <div class="card-body">
                <table id="table_id" class="display table table-hover">
                    <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Source</th>
                        <th>Amount</th>
                        <th>Date Received</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each data.expense_list}}
                        <tr class="dataHover hover" onclick="editModal('{{id}}')">
                            <td>{{user.first_name}} {{user.last_name}}</td>
                            <td>{{source}}</td>
                            <td>£{{amount}}</td>
                            <td data-sort="{{date_paid}}">{{formatDatePaid date_paid}}</td>
                            <td data-sort="{{formatDate start_date "year"}}">{{formatDate start_date "short"}}</td>
                            <td data-sort="{{formatDate end_date "year"}}">{{formatEndDate end_date "short"}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{> addExpense}}
{{> editExpense}}
<script>

    var expenseAmounts = []
        {{#each data.expense_list}}
        expenseAmounts.push({{amount}});
        {{/each}}
    function sum(expenseAmounts) {
        var sum = 0;
        for (var index = 0; index < expenseAmounts.length; index++) {
            sum += expenseAmounts[index];
        }
        return sum;
    }

    $(document).ready(
            function () {
                $('#expenseTotal').text('£' + sum(expenseAmounts));
            }
    );
    var ctx = document.getElementById('expenseLineChart').getContext('2d');
    var donutLabels = [];
    var donutAmounts = [];
        {{#each data.active_expenses}}
        donutLabels.push('{{source}}');
        donutAmounts.push('{{amount}}');
        {{else}}
        $("#donutHead").after("<p>You have no active expenses currently, Try adding one!</p>");
        {{/each}}


    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
            datasets: [{
                label: 'Expense Over Time (£)',
                backgroundColor: 'rgba(20, 255, 40, 0.05)',
                borderColor: 'rgba(0, 199, 17, 0.75)',
                data: [{{data.expense_per_month}}]
            }]
        },

        // Configuration options go here
        options: {
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    var dough = document.getElementById('expenseDonutChart').getContext('2d');
    var myDoughnutChart = new Chart(dough, {
        type: 'doughnut',
        // The data for our dataset
        data: {
            labels: donutLabels,
            datasets: [{
                label: 'My First dataset',
                backgroundColor: ['#5c1ac3', '#e7515a', '#e2a03f', '#60e23f', '#3cba92', '#194e3a', '#bff0c1', '#ff56c1'],
                borderColor: '#0e1726',
                weight: 2,
                data: donutAmounts
            }]
        },
        options: {
            cutoutPercentage: 35
        }
    });
    toastr.options = {
        "preventDuplicates": true,
        "preventOpenDuplicates": true
    };

    function postExpense() {
        var endDate;
        var isErrors = false;
        if ($('#inputSource').val() == "" || $('#inputSource').val().length < 2) {
            toastr.warning('You must enter a value for the source of the expense, it must be greater than two characters!', 'Source Input Error');
            isErrors = true;
        }
        if ($('#inputAmount').val() == "" || $('#inputAmount').val().length < 2) {
            toastr.error('You must enter a value for the amount of the expense, it must be a number!', 'Amount Input Error');
            isErrors = true;
        }
        if ($('#inputStartDate').val() == "") {
            toastr.info('You must enter a valid start date of the expense, it must be a complete date!', 'Start Date Input Error');
            isErrors = true;
        }
        if ($('#gridCheck').is(':checked')) {
            endDate = new Date(2025, 12, 12);
        } else if ($('#inputEndDate').val() == "" || !isAfterStartDate($('#inputEndDate').val())) {
            toastr.info('You must enter a valid end date of the expense, it must be a after the start date!', 'End Date Input Error');
            isErrors = true;
        } else {
            endDate = $('#inputEndDate').val();
        }

        if (!isErrors) {
            $.ajax({
                url: '/expense/create',
                type: 'POST',
                cache: false,
                data: {
                    source: $('#inputSource').val(),
                    amount: $('#inputAmount').val(),
                    start_date: $('#inputStartDate').val(),
                    end_date: endDate
                },
                success: function (data) {
                    window.location.assign('/expense')
                }
                , error: function (jqXHR, textStatus, err) {
                    //alert('text status ' + textStatus + ', err ' + err)
                }
            });
        }
    }

    function isAfterStartDate() {
        return new $('#inputStartDate').val() <= $('#inputEndDate').val();
    }

    function isAfterEditStartDate() {
        return new $('#inputEditStartDate').val() <= $('#inputEditEndDate').val();
    }

    function editModal(id) {
        var thisId = id;
        $.ajax({
            url: '/expense/' + thisId + '/update',
            type: 'GET',
            dataType: 'json',
            id: thisId,
            success: function (data) {
                $('#inputEditSource').val(data.data.expense_found[0].source);
                $('#inputEditAmount').val(data.data.expense_found[0].amount);
                $('#inputEditStartDate').val(formatDate(data.data.expense_found[0].start_date));
                $('#inputEditEndDate').val(formatDate(data.data.expense_found[0].end_date));
                $('#inputEditId').text(thisId);
            }
            , error: function (jqXHR, textStatus, err) {
                alert('text status ' + textStatus + ', err ' + err)
            }
        });
        $('#editExpenseModal').modal('show');
    }

    function editExpense() {
        var endDate;
        var isErrors = false;
        if ($('#inputEditSource').val() == "" || $('#inputEditSource').val().length < 2) {
            toastr.warning('You must enter a value for the source of the expense, it must be greater than two characters!', 'Source Input Error');
            isErrors = true;
        }
        if ($('#inputEditAmount').val() == "" || $('#inputEditAmount').val().length < 2) {
            toastr.error('You must enter a value for the amount of the expense, it must be a number and larger than 10!', 'Amount Input Error');
            isErrors = true;
        }
        if ($('#inputEditStartDate').val() == "") {
            toastr.info('You must enter a valid start date of the expense, it must be a complete date!', 'Start Date Input Error');
            isErrors = true;
        }
        if ($('#gridEditCheck').is(':checked')) {
            endDate = new Date(2025, 12, 12);
        } else if ($('#inputEditEndDate').val() == "" || !isAfterEditStartDate($('#inputEditEndDate').val())) {
            toastr.info('You must enter a valid end date of the expense, it must be a after the start date!', 'End Date Input Error');
            isErrors = true;
        } else {
            endDate = $('#inputEditEndDate').val();
        }
        var id = $('#inputEditId').text();
        if (!isErrors) {
            $.ajax({
                url: '/expense/' + id + '/update',
                type: 'POST',
                cache: false,
                data: {
                    source: $('#inputEditSource').val(),
                    amount: $('#inputEditAmount').val(),
                    start_date: $('#inputEditStartDate').val(),
                    end_date: endDate
                },
                success: function (data) {
                    window.location.assign('/expense')
                }
                , error: function (jqXHR, textStatus, err) {
                    //alert('text status ' + textStatus + ', err ' + err)
                }
            });
        }
    }

    function deleteExpense() {
        var id = $('#inputEditId').text();
        $.ajax({
            url: '/expense/' + id + '/delete',
            type: 'POST',
            cache: false,
            data: {
                source: $('#inputEditSource').val(),
                amount: $('#inputEditAmount').val(),
                start_date: $('#inputEditStartDate').val()
            },
            success: function (data) {
                window.location.assign('/expense')
            }
            , error: function (jqXHR, textStatus, err) {
                //alert('text status ' + textStatus + ', err ' + err)
            }
        });

    }

    function formatDate(date) {
        var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [year, month, day].join('-');
    }
</script>
