

<div class="row col-equal-height">
    <div class="col-md-4">
        <div class="card tile" style="height: 200px;">
            <div class="card-body">
                Expenses
                {{#each data.expense_count}}
                    <p>{{data.expense_count}}</p>
                {{else}}
                    <p>{{data.expense_count}}</p>
                    {{/each}}

                {{#each data.expense_list}}
                    <p>{{user.first_name}} {{user.last_name}}</p>
                {{/each}}
            </div>
        </div>
    </div>
</div>
