<style>
    label {
        color: white;
    }
</style>
<div class="row col-equal-height mb-4">
    <div class="col-md-4">
        <div class="card tile">
            <div class="card-body text-center">
                <h4>Total Income Over Time</h4>
                <canvas id="incomeLineChart" style="height: 250px"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card tile" style="">
            <div class="card-body text-center">
                <h4>Income Contribution (Total)</h4>
                <canvas id="incomeDonutChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card tile" style="">
            <div class="card-body text-center">
                <h4>Total Monthly Income</h4>
                <p>Intervals, If less than 30 days will only be counted once for the sake of budgetting</p>
<h1 id="incomeTotal" class="pt-2"></h1>
                <p class="pt-3">This is an increase of £600, a 40% increase in income from last month.</p>
            </div>
        </div>
    </div>
</div>
<div class="row col-equal-height mb-3">
    <div class="col-md-12">
        <div class="card tile" style="">
            <div class="card-body">
                <table id="table_id" class="display table">
                    <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Source</th>
                        <th>Amount</th>
                        <th>Interval</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each data.income_list}}
                        <tr>
                            <td>{{user.first_name}} {{user.last_name}}</td>
                            <td>{{source}}</td>
                            <td>£{{amount}}</td>
                            <td>{{interval}} Days</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    var incomeAmounts = []
        {{#each data.income_list}}
        incomeAmounts.push({{amount}});
        {{/each}}
    function sum(incomeAmounts) {
        var sum = 0;
        for (var index = 0; index < incomeAmounts.length; index++) {
            sum += incomeAmounts[index];
        }
        return sum;
    }
    $(document).ready(
            function() {
                $('#incomeTotal').text('£' + sum(incomeAmounts));
            }
    );
    var ctx = document.getElementById('incomeLineChart').getContext('2d');
    var donutLabels = [];
    var donutAmounts = [];
        {{#each data.income_list}}
        donutLabels.push('{{source}}');
        donutAmounts.push('{{amount}}');
        {{/each}}
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
            datasets: [{
                label: 'Income Over Time',
                backgroundColor: '#0e1726',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45, 40, 10, 5, 9, 50]
            }]
        },

        // Configuration options go here
        options: {
            responsive: true
        }
    });
    var dough = document.getElementById('incomeDonutChart').getContext('2d');
    var myDoughnutChart = new Chart(dough, {
        type: 'doughnut',
        // The data for our dataset
        data: {
            labels: donutLabels,
            datasets: [{
                label: 'My First dataset',
                backgroundColor: ['#5c1ac3', '#e7515a', '#e2a03f', '#60e23f'],
                borderColor: '#0e1726',
                weight: 2,
                data: donutAmounts
            }]
        },
        options: {
            cutoutPercentage: 35
        }
    });

</script>
{{> addIncome}}