{{#each errors}}
    <p style="color: #c51f45"> {{msg}} </p>
    <script>console.log({{errors}})</script>
{{/each}}
<p style="color: #39c51f">{{success_msg}}</p>
<p style="color: #c51f45">{{error_msg}}</p>
<p style="color: #c51f45 ">{{error}}</p>

