<div class="row " id="notification-row">
    <div class="col-9">
        <p style="margin-bottom: 1px">{{data.title}}</p>
        <p style="margin-bottom: 1px">{{formatDate data.date_time 'short'}}</p>
    </div>
    <div class="col-3">
        <img src="https://eu.ui-avatars.com/api/?name={{data.user.first_name}}+{{data.user.last_name}}
        &background={{data.user.colour}}&rounded=true&size=40&bold=true"
        alt="" id="recent-avatars">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p class="noti-desc">{{data.description}}</p>
    </div>
</div>
